/*
!*
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}
!*html{
    width: 99vw;
    height: 99vh;
    display: flex;
}*!
.nav{
    width: 98.8vw;
    background: black;
    color: white;


}
.nav-link{
    position: relative;
    left: 650px;
    margin: 0;
}
.nav-link{
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    right: 15px;
    !*left: 15px;*!
    bottom: 5px;
    width: 0;
    height: 5px;
    background-color:red ;
    background-image: linear-gradient(to right,#070A52,#f5380a);
    border-radius: 10px;
    transition: width 1.50s ease-out;
}
.nav-link:hover::before{
    width: 70%;
    right: auto;
    left: 15px;


}
.nav-link:hover{
    font-weight: bolder;
}

.row_2{
!*    border: 1px solid red;*!
   !* height: 750px;
    width: 1510px;*!
!*    height: 750px;
    width: 1510px;*!
    !*width: fit-content;*!
    !*height: fit-content;*!
!*    border: 1px solid red;*!
!*    height: 750px;
    width: 1525px;
    display: flex;*!
    border: 1px solid red;
    height: 96vh;
    width:98.8vw;
    !*    display: flex;*!
    position: absolute;
    top: 36px;

}
.main_img{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
!*    width: 1525px;
    height: 750px;*!
   !* width: 1520px;
    height: 750px;*!
    !*width: 1000px;*!
    !*height: 1500px;*!
}
.auto_type1{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
    !*color: #181660;*!

}
.auto_type2{
!*    color: white;*!
    font-size: 90px;
    font-family: "Ave";
    position: absolute;
    left: 100px;
    top: 200px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url("../../images/back2.png");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px ;
    }
}
.auto_type3{
    position: absolute;
    left: 650px;
    top: 350px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.auto_type4{
    position: absolute;
    left: 0;
}
.auto_type4{
    position: absolute;
    left:400px;
    top: 450px;
    font-family: "Arial Black";
    font-size: 50px;
    color: red;
}
*!
body{
    display: flex;
    margin: 0;
    padding: 0;
}
.grid{
    border: 5px solid darkred;
    width: 99vw;
    height: 1000vh;
}
.home{
    border: 1px solid red;
    height: 96vh;
    width:98.8vw;
    !*    display: flex;*!
    position: absolute;
    top: 36px;

}
.main_img{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    !* display: flex;*!
}
.auto_type1{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
    !*color: #181660;*!

}
.auto_type2{
    !*    color: white;*!
    font-size: 90px;
    font-family: "Ave";
    position: absolute;
    left: 100px;
    top: 200px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url("../../images/man-analysing-binary-code-virtual-screen.png");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px ;
    }
}
.auto_type3{
    position: absolute;
    left: 650px;
    top: 350px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.auto_type4{
    position: absolute;
    left: 0;
}
.auto_type4{
    position: absolute;
    left:400px;
    top: 450px;
    font-family: "Arial Black";
    font-size: 50px;
    font-weight: 600;
    color: red;
}
*/
body{
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.grid{
    /* border: 5px solid darkred;*/
    width: 99vw;
    height: 1000vh;
    background-color: #141414
}
.home{
    /*border: 1px solid red;*/
    height: 96vh;
    width:98.8vw;
    /*    display: flex;*/
    position: absolute;
    top: 36px;
    margin: auto;

}
.main_img{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* display: flex;*/
}
.auto_type1{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
    /*color: #181660;*/

}
.auto_type2{
    /*    color: white;*/
    font-size: 90px;
    font-family: "Ave";
    position: absolute;
    left: 100px;
    top: 200px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url("../../images/back2.png");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px ;
    }
}
.auto_type3{
    position: absolute;
    left: 650px;
    top: 350px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.auto_type4{
    position: absolute;
    left: 0;
}
.auto_type4{
    position: absolute;
    left:400px;
    top: 450px;
    font-family: "Arial Black";
    font-size: 50px;
    font-weight: 600;
    color: red;
}
@media all and (min-width: 1024px) and (max-width:1440px){
    .main_img{
        width: 100%;
        height: 100%;
    }
    .auto_type1{
        top: 15%;
        font-size: 2em;

    }
    .auto_type2{
        top: 22%;
        left: 5%;
        font-size: 5em;
        display: block;
    }
    .auto_type3{
        top: 40%;
        left: 38%;
        font-size: 2em;
    }
    .auto_type4{
        top: 50%;
        left: 30%;
        font-size: 2em;
    }


}