body{
    margin: 0;
    padding: 0;
    display: flex;
}
div{
    /*border: 1px solid black;*/
    height: 40px;
}
.nav{
    background: black;
    color: white;
}
.nav-link{
    position: relative;
    left: 700px;
}
.nav-link{
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    right: 15px;
    /*left: 15px;*/
    bottom: 5px;
    width: 0;
    height: 5px;
    background-color:red ;
    background-image: linear-gradient(to right,#070A52,#f5380a);
    border-radius: 10px;
    transition: width 1.50s ease-out;
}
.nav-link:hover::before{
    width: 70%;
    right: auto;
    left: 15px;


}
.nav-link:hover{
    font-weight: bolder;
}
.row_2{
    /*border: 1px solid red;*/
    height: 730px;
    display: flex;
}
.main_img{
    width: 1600px;
   /* background-size: cover;*/
   /* width: 1000px;
    height: 500px;*/
/*height: fit-content;*/
}
.hello{
    position: absolute;
    left: 80px;
    top: 150px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.and{
    position: absolute;
    left: 470px;
    top: 340px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;

}
.l1{
    color: red;
    position: absolute;
    left:90px;
    top: 200px;
    font-size: 70px;
    font-family: "Ave";
}
.l2{
    font-size:  40px;
    color: white;
    font-family: "Arial Black";

   /* display: inline;*/
}
#lable2{
    position: absolute;
    left: 240px;
    bottom: 300px;
}
#lable3{
    position: absolute;
    left: 310px;
    bottom: 250px;
}
#lable4{
    position: absolute;
    left: 350px;
    bottom: 200px;
}
.auto_type1{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
    /*color: #181660;*/

}
.auto_type2{
    color: red;
    font-size: 90px;
    font-family: "Ave";
    position: absolute;
    left: 100px;
    top: 200px;
    color: transparent;
    /*-webkit-text-stroke: 1px black;*/
    background: url("../images/back.png");
    background-color: red;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    /*animation-name:my-ani;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear;*/
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }

}
.auto_type3{
    position: absolute;
    left: 650px;
    top: 350px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.auto_type4{
    position: absolute;
    left:400px;
    top: 450px;
    color: white;
    font-family: "Arial Black";
    font-size: 50px;
    color: red;
}

/*.auto_type2:hover{
    animation-play-state:paused;
}
@keyframes my-ani  {
    from{
        margin-left:0;
    }
    to{
        margin-left: 200px;
    }
}*/
/*.auto_type3{
    color: black;
    position: absolute;
    left: 500px;
    top: 400px;
}*/
/*@keyframes li {
    0%{
        left: 120%;
    }
    100%{
        left: -20%;
    }
}*/
/*.auto_type1::before{
    content: attr(auto_type1);
    position: absolute;
    color: white;
    width: 350px;
    white-space: nowrap;
    border-right: 4px solid red;
    animation: animate 8s linear infinite;
}
#a1::before{
    content: attr(auto_type1);
    position: absolute;
    color: white;
    width: 350px;
    white-space: nowrap;
    border-right: 4px solid red;
    animation: animate 8s linear infinite;
}*/
/*span{
    color: #181660;
}*/

/*.auto_type1:before{
    content: "";
    position: absolute;
    left: 0;
    width: 110%;
    height: 100%;
    ;
   !* background: linear-gradient(90deg,transparent 0%,#000000 5%, #000000 100%);
    animation: alternate 5.5s linear forwards;*!
}*/
/*@keyframes li {
    0%{
        left: 120%;
    }
    100%{
        left: -20%;
    }
}*/
/*.auto_type2{
    color: red;
    position: absolute;
    left:90px;
    top: 50px;
    font-size: 70px;
    font-family: "Ave";
    animation-name:my-ani;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
}*/
/*.name{
    color: red;
    position: absolute;
    left:90px;
    top: 50px;
    font-size: 70px;
    font-family: "Ave";
    animation-name:my-ani;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear;

}*/


/*.auto_type3{
    position: relative;
    right: 8px;
    top: 140px;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 33px;
}
.auto_type4{
    position: relative;
    top: 200px;
    right: 320px;
    font-family: "Arial Black";
}
.auto_type5{
    position: absolute;
    top: 300px;
    left: 440px;
    font-family: "Arial Black";
}
.auto_type6{
    position: absolute;
    top: 350px;
    left: 480px;
    font-family: "Arial Black";
}*/
/*.ani{
    border: 2px solid green;
    width: 800px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: 50px;
}*/

/*.auto_type4{
    position: absolute;
    top: 100px;
}*/
/*span{
    color: red;
    position: absolute;
    left:90px;
    top: 100px;
    font-size: 30px;
    font-family: "Ave";
    !*display: inline;*!

}*/
/*
.li{
    color: #fb0f04;
    position: absolute;
    left: 120px;
    top: 200px;
    font-family: "Ave";
    font-size: larger;
   !* size: 50px;*!
   !* width: 100px;*!
!*    height: 50px;*!
}*/
